#slide
  %div{ :style => "float:left;width:100%;margin-top:100px;text-align:center;"}
    %a{ :href => "/drop", :style => "color:red;" }
      DROP DATABASE
    %br  
    %small{:style => "font-size:12px;"}
      == warning: please be very careful with this button