!!!
%html
  %head
    %title== Bookmarkers
    %link{ :rel => "stylesheet", :href => "css/base.css" } 
    %script{ :src => "/javascript/jquery-1.7.js", :type => "text/javascript" }
    %script{ :src => "/javascript/jquery.phpdate.js", :type => "text/javascript" }
  %body
    #gradient
      #wrap
        = yield
