body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url('/images/body_bg.jpg');
  font-family: Helvetica Neue, sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #999;
  text-decoration: underline;
}

#wrap {
  width: 800px;
  margin: 0 auto;
  
  #height: 900px;
  #border: 1px solid red;
}

.weather {
  float: right;
  margin-bottom: 5px;
  padding: 15px;
  color: #eee;
  text-shadow: 1px 1px black;
  background: transparent url('/images/weather_bg.png');
  box-shadow: 1px 1px 3px #555, -1px -1px #222;
  border-radius: 6px;
}

#weather-today {
  margin-top: 25px;
  height: 20px;
  width: 600px;
}

#weather-week {
  margin-top: 15px;
  display: none;
  width: 768px;
}

#date {
  float: left;
  width: 130px;
  height: 44px;
  margin-top:25px;
  margin-bottom: 5px;
  padding: 3px 10px 3px 10px;
  color: #eee;
  text-shadow: 1px 1px black;
  background: transparent url('/images/weather_bg.png');
  box-shadow: 1px 1px 3px #555, -1px -1px #222;
  border-radius: 6px;
  text-align: center;
}

.time {
  margin-top: 3px;
  font-size: 18px;
}

.date {
  font-size: 11px;
}

.widget {
  float: left;
  clear: both;
  width: 768px;
  margin-top: 15px;
  padding: 5px 15px 10px 15px;
  color: #eee;
  text-shadow: 1px 1px black;
  background: transparent url('/images/widget_bg.png');
  box-shadow: 2px 3px 4px #111;
  border-radius:6px;
}

.add_widget {
  float: left;
  clear: both;
  margin-top: 15px;
  padding: 15px;
  color: #eee;
  font-size: 12px;
  text-shadow: 1px 1px black;
  background: transparent url('/images/widget_bg.png');
  box-shadow: 2px 3px 4px #111;
  border-radius:6px;
}

.edit {
  display: none;
}

a.edit, a:visited.edit {
    color: red;
}